:root {
     --color-primary: #2584ff;
     --color-secondary: #00d9ff;
     --color-accent: #ff3400;
     --color-headings : #1b0760;
     --color-body: #918ca4;

}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}
 




/* ========================================= */

/* Typography */


html{
    /* TODO: 1 REM = 16 PX DEFAULT BROWSER UNIT AND IF IT DEFINED AS 62,5% = 10 PX SO 1 REM = 10 PX */
    font-size: 62.5%;
}

body {
 font-family: Inter, Arial, Helvetica, sans-serif;  /* a font variable font family that allows to store to store diffirenet types of same type in one single file */
 color: var(--color-body);
 font-size: 2.4rem;  /*mobile */
 line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;    
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    margin-top: 0; 
    text-decoration: none;   /* no underline  */
}

/* ========================================= */

/* Links */

.link-arrow {
    
    color: var(--color-accent);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: .15s;
    
}

.link-arrow:hover::after {
    margin-left: 10px;
    
}


/* ========================================= */

/* Badges  */

/* structure */
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 2rem;
    white-space: nowrap;    /* prevent badge to wrap into next line, whatever putting insdie the badge should alwayes appear in a single line */
}

/* skin */
.badge--primary {
    background-color: var(--color-primary);
    color:  #fff;
}

.badge--secondary {
    background-color: var(--color-secondary);
    color:  #fff;
}

.badge--small {
    font-size: 1.6rem;
}


/* ========================================= */

/* Lists */

/* structure */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

/* skin */

/* .list--inline   (The Layout Modifier)
This class is applied to the <ul> (the parent). Its job is to change the direction of the list from vertical to horizontal.
How it works: It uses display: inline-block on the children (.list__item).
Visual Result: The items sit side-by-side on a single line (like a navigation bar or a horizontal footer menu).
The CSS: In your screenshot, this selector adds a margin-right: 2rem to create horizontal spacing between the items.*/

/* Which one should you use?
Use .list--inline when you want a "row" of items (like: Home | About | Contact).
Use .list--tick (from your other image) when you want a vertical list with custom icons.

1. The "BEM" Philosophy
BEM stands for Block__Element--Modifier.
Block: .list
Element: .list__item
Modifier: .list--inline
The goal of BEM is to make your CSS independent of the HTML tag used.
 If you decide tomorrow that your list should use <div> tags instead of <li> tags
for a specific layout reason, you would only have to change the HTML. If your CSS targets li,
your styles would break. By targeting the class .list__item, the styles stay 
attached to the "role" of the element, not the tag name.*/

.list--inline .list__item {       
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}


.list--tick .list__item {
    padding-left: .5rem;
    margin-bottom: 1rem;
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
    fill: var(--color-primary);

}

.icon-container {
    background-color: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/* ========================================= */

/* Button */

.btn {
    border-radius: 40px;
    border-style: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0rem;
    padding: 2rem 3rem;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.btn--accent {
    background-color: var(--color-accent);
    color: white;
}
.btn--accent:hover {
    background-color:#fc4e22 ;
}
.btn--primary {
    background-color: var(--color-primary);
    color: white;
}
.btn--primary:hover {
    background-color:#4091fc ;
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: white;
}
.btn--secondary:hover {
    background-color: #27dcfc;
}

.btn--outline {
    background-color: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings)
}
.btn--outline:hover {
    background-color:var(--color-headings);
    color: #fff;
}




.btn--block {
    width: 100%;
    display: inline-block; 
}



@media screen and (min-width: 1024px) {
     body {
        font-size: 1.8rem;
     }

    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    .link-arrow {
        font-size: 1.5rem;
    }

    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
    .list--tick .list__item {
        padding-left: 0;
    }

    .btn {
        font-size: 1.5rem;
    }
}