<section class="block block--dark block--skewed-right hero">
      <!-- notice that we start with general classes then a specified ones here we used hero class to override clipping in block--skewed-right -->
      <div class=" container grid grid--1x2">

        <header class="block__header hero__content">
          <h1 class=" block__heading">Cloud Hosting for Pros</h1>
          <p class="hero__tagline">Deploy Your Website in less than 60 seconds</p>
          <a href="" class="btn btn--accent btn--streatched">Get Started</a>
        </header>
        <img class="hero__image" src="images/banner.png" alt="">
      </div>
    </section>