 <div class="media">
    <div class="media__image">
       
       <svg class="icon icon--primary">
         <use href="images/sprite.svg#snap"></use>
        </svg>
       
    </div>
    <div class="media__body">
            <h3 class="media-title">Easy to Start & Manage</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Modi assumenda neque, delectus atque, cum voluptatibus numquam
              obcaecati repellat odit, tempore deserunt blanditiis provident
               ea animi id illo fugiat labore adipisci!
            </p>
    </div>
  </div>
