<section class="block block--dark block--skewed-left showcase-block">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>

  <div class="container grid grid--1x2">
    <picture class="showcase-block__pic">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x" />
      <img src="images/ipad.png" alt=""
    /></picture>

    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#snap"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media-title">Easy to Start &amp; Manage</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
              assumenda neque, delectus atque, cum voluptatibus numquam
              obcaecati repellat odit, tempore deserunt blanditiis provident ea
              animi id illo fugiat labore adipisci!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#growth"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media-title">Staging, GIT &amp; WP-CLI</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
              assumenda neque, delectus atque, cum voluptatibus numquam
              obcaecati repellat odit, tempore deserunt blanditiis provident ea
              animi id illo fugiat labore adipisci!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media-title">Dynamic Caching &amp; More</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi
              assumenda neque, delectus atque, cum voluptatibus numquam
              obcaecati repellat odit, tempore deserunt blanditiis provident ea
              animi id illo fugiat labore adipisci!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
