<div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image-container">
          <img
            class="testimonial__image"
            src="images/testimonial.jpg"
            alt=" A Smiling, Client"
          />
          <span class="icon-container icon-container--accent testimonial-icon">
            <svg class="icon--small icon--white">
              <use href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            molestiae dolores laudantium non error repellendus suscipit
            necessitatibus amet assumenda cumque corporis ipsa in at temporibus,
            aliquam numquam commodi. Praesentium, tempora!
          </p>

          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media-title qoute__author">Ahmed Hossam</h3>
                <p class="quote-organization">Applied Arts</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>